.comparison {
  margin-top: 24px;
  @media (max-width: 768px) {
    margin-top: 10px;
  }
  .container {
    @media (max-width: 768px) {
      padding: 0 0 0 0;
    }
  }
  &.only {
    .container {
      @media (max-width: 768px) {
        padding: 0 0 0 0;
      }
      .comparison__item {
        width: 100% !important;
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (max-width: 768px) {
        gap: 10px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (max-width: 768px) {
      width: calc(100% + 30px);
    }
    &-header {
      padding: 20px;
      border-radius: 20px;
      background: #fff;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      &.is-active {
        border-bottom: 1px solid #f6f6f6;
        border-radius: 20px 20px 0 0;
        img {
          transform: rotate(90deg);
        }
      }
    }
    &-title {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
    }
    &-arrow {
      width: 13px;
      height: 13px;
      transform: rotate(-90deg);
      transition: all 0.2s linear;
    }
  }
  .comparison__item-header.is-active ~ .comparison__content {
  }
  &__content {
    display: none;
  }
  &__info {
    padding: 20px;
    border-radius: 0 0 20px 20px;
    background: #fff;
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &-item {
      flex: 1;
      min-width: 280px;
    }
  }
}

.compare {
  .bestseller__container .bestseller__container {
    @media (max-width: 768px) {
      padding: 0 0 0 0px;
    }
  }
}
