.favorites_main {
  .bestseller {
    margin-top: 0;
    .bestseller__container {
      @media (max-width: 768px) {
        padding: 0 15px;
      }
    }
  }

  .bestseller__title--link {
    color: #f26c6c;
    display: flex;
    gap: 10px;
    align-items: center;
    flex: 0 0 auto;
  }

  .favorites {
    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 24px 0;
      @media (max-width: 768px) {
        gap: 20px 0;
      }
      &--item {
        width: calc(24.5% - 12px);
        @media (max-width: 1307px) {
          width: calc(33.33% - 12px);
        }
        @media (max-width: 980px) {
          width: calc(50% - 12px);
          &:nth-child(n + 6) {
            display: none;
          }
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        .product-box {
          .product-box__image {
            text-align: center;

            img {
              object-fit: contain;
              max-width: 100%;
            }
          }
        }

        .slide__info-content {
          position: absolute;
          top: auto;
          bottom: 39px;
          left: -240px;
          margin-right: 100%;
          border-radius: 10px;
          height: fit-content;
          width: 300px;
          background: var(--white);
          padding: var(--h2);
          z-index: 2112313;
          box-shadow: 0px 10px 20px 0px rgba(0, 27, 43, 0.1);
          transform: scale(0);
          transition: all 0.3s ease;

          &::before {
            content: "";
            width: 15px;
            height: 15px;
            transform: rotate(45deg);
            position: absolute;
            left: auto;
            right: 30px;
            bottom: -4px;
            display: block;
            margin: auto;
            background: var(--white);
            z-index: 2323232321;
          }
        }
      }
    }

    .content_btn {
      margin-top: 24px;
      padding: 12px 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      color: var(--main-color);
      text-decoration: none;
      transition: all 0.2s linear;
      @media (max-width: 768px) {
        margin-top: 20px;
      }
      &:hover {
        color: var(--light-blue);
      }
    }

    .favorites__bottom {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
        justify-content: center;
        margin-top: 20px;
      }
      .pagination {
        display: flex;
        align-items: center;
        gap: 10px;

        &__list {
          display: flex;
          align-items: center;
        }

        &__link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;
          text-decoration: none;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          color: var(--main-color);
          @media (max-width: 768px) {
            &:nth-child(5n),
            &:nth-child(6n) {
              display: none;
            }
          }
          &.active {
            border-radius: 10px;
            background: #fff;
          }
        }

        .btn {
          width: 24px;
          height: 44px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .favorites__bottom-btn {
        position: relative;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .favorites_btn-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 100%;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;

      .favorites_link {
        color: black;
        padding: 10px;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }

    &_btn {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px 24px;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
      user-select: none;
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .favorites_btn {
        background-color: #3498db;
        color: white;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
      }
    }
    &__shop {
      display: flex;
      justify-content: space-between;
      
      .favorites__shop-item {
        padding: 20px;
        background: #fff;
        border-radius: 20px;
        &:last-child{
            .favorites__shop_content{
                display: none;
            }
        }
        .favorites__checkbox--item {
            display: flex;
            align-items: center;
            gap: 10px;
        }
         .checkbox {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 14px;
                color: #333;
                &__input {
                    display: none;
            
                    &:checked + .checkbox__box {
                        background-color: #3CB2F2;
                        border-color: #3CB2F2;
            
                        &::after {
                            content: "✓";
                            display: block;
                            color: white;
                            font-size: 12px;
                            text-align: center;
                            font-family: sans-serif;
                            line-height: 16px;
                        }
                    }
                }
            
                &__box {
                    width: 16px;
                    height: 16px;
                    border: 2px solid #3CB2F2;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                }
            
                &__text {
                    color: #787878;;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    &_bold {
                        color: var(--main-color);
                        text-decoration: underline;
                    }
                }
            }
        .favorites__shop_item-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            img{
                transition: all .2s linear;
            }
            &.is-active{
                img{
                    transform: rotate(180deg);
                }
            }
        }
        .swicher{
            position: relative;
            .bonus__slider{
                display: block;
            }
        }
      }
      &_filterlists {
        width: calc(25% - 12px);
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      &-right {
        width: calc(75% - 12px);
        .favorites__content--item {
          width: calc(33.33% - 12px);
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
      }
      &--item{
        list-style: none;
        
       
      }
      label{
        cursor: pointer;
      }
      &-link {
        color: var(--78838-a, #78838a);
        font-family: "PP Neue Montreal";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        transition: all .2s linear;
        &:hover {
            color: #3CB2F2;
        }
      }
    }
  }
}
