.favorites_main {
  .bestseller {
    margin-top: 0;
    .bestseller__container {
      @media (max-width: 768px) {
        padding: 0 15px;
      }
    }
  }
  &.cards_main {
    .bestseller__title {
      padding: 0 15px;
      @media (max-width: 1440px) {
        padding: 0;
      }
    }
  }
  .bestseller__title--link {
    color: #f26c6c;
    display: flex;
    gap: 10px;
    align-items: center;
    flex: 0 0 auto;
  }

  .favorites {
    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 24px 0;
      @media (max-width: 768px) {
        gap: 20px 0;
      }
      .product__box-caracteristics {
        display: none;
      }
      &--item {
        width: calc(24.5% - 12px);
        @media (max-width: 1307px) {
          width: calc(33.33% - 12px);
        }
        @media (max-width: 980px) {
          width: calc(50% - 12px);
          &:nth-child(n + 6) {
            display: none;
          }
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        .product-box {
          .product-box__image {
            text-align: center;

            img {
              object-fit: contain;
              max-width: 100%;
            }
          }
        }

        .slide__info-content {
          position: absolute;
          top: auto;
          bottom: 39px;
          left: -240px;
          margin-right: 100%;
          border-radius: 10px;
          height: fit-content;
          width: 300px;
          background: var(--white);
          padding: var(--h2);
          z-index: 2112313;
          box-shadow: 0px 10px 20px 0px rgba(0, 27, 43, 0.1);
          transform: scale(0);
          transition: all 0.3s ease;

          &::before {
            content: "";
            width: 15px;
            height: 15px;
            transform: rotate(45deg);
            position: absolute;
            left: auto;
            right: 30px;
            bottom: -4px;
            display: block;
            margin: auto;
            background: var(--white);
            z-index: 2323232321;
          }
        }
      }
    }



    .favorites_btn-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 100%;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;

      .favorites_link {
        color: black;
        padding: 10px;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }

    &_btn {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px 24px;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
      user-select: none;
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .favorites_btn {
        background-color: #3498db;
        color: white;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
      }
    }
    &__shop {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      @media (max-width: 1440px) {
        padding: 0;
      }
      .favorites__shop-item {
        padding: 20px;
        background: #fff;
        border-radius: 20px;
        &:last-child {
          .favorites__shop_content {
            display: none;
          }
        }
        .favorites__checkbox--item {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        .checkbox {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 14px;
          color: #333;
          &__input {
            display: none;

            &:checked + .checkbox__box {
              background-color: #3cb2f2;
              border-color: #3cb2f2;

              &::after {
                content: "✓";
                display: block;
                color: white;
                font-size: 12px;
                text-align: center;
                font-family: sans-serif;
                line-height: 16px;
              }
            }
          }

          &__box {
            width: 16px;
            height: 16px;
            border: 2px solid #3cb2f2;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
          }

          &__text {
            color: #787878;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &_bold {
              color: var(--main-color);
              text-decoration: underline;
            }
          }
        }
        .favorites__shop_item-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          img {
            transition: all 0.2s linear;
          }
          &.is-active {
            img {
              transform: rotate(180deg);
            }
          }
        }
        .swicher {
          position: relative;
          .bonus__slider {
            display: block;
          }
        }
      }
      .filter {
        width: calc(25% - 12px);
        @media (max-width: 980px) {
          width: 100%;
          background: rgba(0, 27, 43, 0.5);
          padding-top: 100px;
          position: fixed;
          left: 0;
          top: 0;
          z-index: 99999999999999999999;
        display: none;

        }
      }
      &_filterlists {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: fit-content;
        position: sticky;
        top: 140px;
        &::-webkit-scrollbar {
          display: none;
        }
        @media (max-width: 980px) {
          width: 100%;
          height: calc(100vh - 160px);
          overflow-y: auto;
          z-index: 10000;
          left: 0;
          border-radius: 10px 10px 0px 0px;
          background: #f6f6f6;
          padding: 20px;
        }
        .filter_mobile_close{
          cursor: pointer;
        }
        .shop__btnlists {
          display: flex;
          gap: 10px;
          @media (max-width: 980px) {
            position: fixed;
            bottom: 0px;
            left: 0;
            width: 100%;
            z-index: 99999;
            padding: 10px 20px;
            background: #fff;
          }
          .button {
            width: calc(50% - 5px);
            border-radius: 10px;
            border: 1px solid var(--001-b-2-b, #001b2b);
            background: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            &.btn--secondary {
              background: #001b2b;
              color: #fff;
            }
          }
        }
        .filter_mobile_top{
          display: none;
          justify-content: space-between;
          align-items: center;
          @media (max-width: 980px) {
            display: flex;
          }
        }
      }
      &-right {
        width: calc(75% - 12px);
        @media (max-width: 1024px) {
          width: calc(75% - 5px);
        }
        @media (max-width: 980px) {
          width: 100%;
        }
        .favorites__content {
          margin-top: 24px;
        }
        .favorites__content--item {
          width: calc(33.33% - 12px);
          @media (max-width: 1240px) {
            width: calc(50% - 5px);
          }
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
      }
      &--item {
        list-style: none;
      }
      label {
        cursor: pointer;
      }
      &-link {
        color: var(--78838-a, #78838a);
        font-family: "PP Neue Montreal";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.2s linear;
        &:hover {
          color: #3cb2f2;
        }
      }
      .cards__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        gap: 10px;
      }
      .types_select {
        @media (max-width: 768px) {
          width: calc(100% + 30px);
          margin-left: -15px;
          padding: 0 15px;
        }
      }
      .sort_dropdown {
        position: relative;
        max-width: 300px;
        z-index: 2;
        .arrow_icon {
          position: absolute;
          top: 30%;
          right: 10px;
          transform: rotate(90deg);
          width: 15px;
          height: 15px;
          transition: all 0.2s linear;
          z-index: 1;
          cursor: pointer;
          &.active {
            transform: rotate(-90deg);
          }
        }
        .dropdown_title {
          color: #78838a;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          position: absolute;
          top: 7.5px;
          left: 24px;
        }
      }
      .sort_input {
        width: 100%;
        padding: 17px 24px 7.5px;
        background-color: #f5f5f5;
        cursor: pointer;
        border-radius: 10px;
        background: #fff;
        outline: 0;
        border: 0;
        @media (max-width:980px) {
          font-size: 12px;
        }
      }
      .sort_options {
        display: none !important;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        border-radius: 6px;
        margin-top: 4px;
        padding: 20px;
        z-index: 10;

        &.active {
          display: flex !important;
          flex-direction: column;
          gap: 15px;
        }
      }
      .sort_options li {
        cursor: pointer;
        list-style: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        transition: all 0.2s linear;
        @media (max-width:980px) {
          font-size: 12px;
        }
      }
      .sort_options li:hover {
        color: #3cb2f2;
      }
      .sort_options li.active {
        color: #3cb2f2;
      }
      .cards__position_btns {
        display: flex;
        gap: 10px;
        .position_btn {
          width: 44px;
          height: 44px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
          cursor: pointer;
          transition: all 0.2s linear;
          @media (max-width: 980px) {
            display: none;
          }
          svg {
            transition: all 0.2s linear;
            stroke: #000;
            fill: #000;
            rect {
              stroke: #000;
            }
          }
          &:hover {
            background: #3cb2f2;
            svg {
              fill: #fff;
              stroke: #fff;
            }
            rect {
              stroke: #fff;
            }
          }
          &.is-active {
            background: #3cb2f2;
            svg {
              fill: #fff;
              stroke: #fff;
            }
            rect {
              stroke: #fff;
            }
          }
        }
        .filter_open {
          gap: 10px;
          display: none;
          @media (max-width: 980px) {
            display: flex;
          }
        }
      }
    }
    .products__left_titles {
      padding: 0;
      background: transparent;
      h3 {
        display: none;
      }
      .product-box__price--new {
        display: none;
      }
    }
    .product__box-lists {
      display: none;
    }
    &__content.is-active {
      .product-box {
        @media (max-width: 1024px) {
          flex-wrap: wrap;
        }
      }
      .product__box-caracteristics {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        gap: 8px;
        margin-top: 15px;
        .product__box-caracteristics--item {
          width: 100%;
          display: flex;
          gap: 15px;
          .product__box-caracteristics--text {
            color: var(--78838-a, #78838a);
            font-family: "PP Neue Montreal";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            &:first-child {
              width: calc(55% - 7.5px);
            }
            &:last-child {
              width: calc(45% - 7.5px);
            }
          }
        }
      }
      .product-box__type,
      .product-box__info,
      .product-box__price {
        display: none;
      }
      .product_box_top {
        width: 33%;
        @media (max-width: 1024px) {
          width: 50%;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
      }
      .products__left_titles {
        h3 {
          display: block;
        }
        .product-box__price--new {
          display: flex;
          font-weight: 100;
        }
        .product-box__price--old {
          display: flex;
          gap: 10px;
        }
      }
      .product__box-lists {
        width: 33%;
        position: relative;
        padding: 5px 20px;
        display: block;
        @media (max-width: 1202px) {
          width: 30%;
        }
        @media (max-width: 1024px) {
          width: 50%;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        &::before {
          content: "";
          height: calc(100% + 30px);
          position: absolute;
          top: -15px;
          width: 1px;
          right: -10px;
          background: #f6f6f6;
        }
        .product-box__type {
          display: block;
          margin: 0;
          padding-top: 0;
          border-top: none;
        }
      }
      .favorites__content--item {
        width: 100%;
        .product-box {
          display: flex;
          justify-content: space-between;
          .product__box-caracteristicss {
            display: flex;
            gap: 15px;
          }
        }
      }
      .product_box_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 5px 5px 20px;
        width: 33%;
        @media (max-width: 1202px) {
          width: 35%;
        }
        @media (max-width: 1024px) {
          width: 100%;
        }
      }
      .products__left_titles {
        display: flex;
        padding: 0;
        flex-direction: column;
        background: transparent;
        h3 {
          width: 100%;
          text-align: left;
          font-size: 20px;
          margin-top: 5px;
        }
      }
      .product-box__discount {
        align-items: flex-start;
      }
    }
  }
}
.content_btn {
  margin-top: 24px;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: var(--main-color);
  text-decoration: none;
  transition: all 0.2s linear;
  @media (max-width: 768px) {
    margin-top: 20px;
  }
  &:hover {
    color: var(--light-blue);
  }
}

.favorites__bottom {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: center;
    margin-top: 20px;
  }
  .pagination {
    display: flex;
    align-items: center;
    gap: 10px;

    &__list {
      display: flex;
      align-items: center;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      text-decoration: none;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      color: var(--main-color);
      @media (max-width: 768px) {
        &:nth-child(5n),
        &:nth-child(6n) {
          display: none;
        }
      }
      &.active {
        border-radius: 10px;
        background: #fff;
      }
    }

    .btn {
      width: 24px;
      height: 44px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .favorites__bottom-btn {
    position: relative;
    @media (max-width: 768px) {
      display: none;
    }
  }
}