.footer{
    margin: 80px 0 0 0;
    background-color: var(--white);
    padding: 40px 0;

    @media (max-width:576px){
    //    padding-bottom: 40px;
    }

    @media (max-width:768px){
       margin-top: 0;
    }

    .footer__content{
        display: flex;
        justify-content: space-between;

        @media (max-width: 980px){
           flex-wrap: wrap;
           gap: 24px 0;
        }
    }
    &__actions {
        display: flex;
        flex-direction: column;
        gap: 18px 0;

        @media (max-width: 980px){
            width: calc(50%);
        }
        @media (max-width:768px){
           width: 100%;
        }

        &--socials, &--avialable_hours, &--mail,
        &--address{
            display: flex;
            align-items: center;
            gap: 0 10px;
            font-size: 14px;
            
            a{
                text-decoration: none;
                color: inherit;
                font-weight: 500;
                transition: all .2s linear;
            &:hover{
                color: var(--light-blue);
            }
            }
            span{
                font-size: 14;
            }
        }
        .footer-logo {
            width: 145px;
        }
        &--years{
            color: var(--gray-color);
        }
    }
    &__catalog{
        display: flex;
        flex-direction: column;
        width: 316px;

        @media (max-width: 980px){
            width: 50%;
        }
        @media (max-width:768px){
          width: 100%;
        }

        &--links{
            display: flex;
            gap: var(--h2);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 18px;
            list-style: none;
            
            &:first-child{
                width: 45%;
            }
            &:last-child{
                width: 55%;
            }
            li{
                a{
                    text-decoration: none;
                    font-size: 14px;
                    color: inherit;
                    transition: all .2s linear;
                    &:hover{
                        color: var(--light-blue);
                    }
                }
            }
        }
    }
    &__company {
        @media (max-width: 980px){
            width: 50%;
        }
    }
    &__customers {
        @media (max-width: 980px){
            width: 50%;
        }
    }
    h4{
        margin-bottom: var(--h2);
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 18px;

        a{
            text-decoration: none;
            font-size: 14px;
            color: inherit;
            transition: all .2s linear;
            &:hover{
                color: var(--light-blue);
            }
        }
    }

    &__bottom {
        margin-top: 40px;
        padding: 40px 0;
        border-top: 1px solid #f6f6f6;

        @media (max-width:576px){
            padding-top: var(--h2);
            margin-top: var(--h2);
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width:768px){
               flex-direction: column;
               justify-content: start;
               align-items: start;
               gap: 40px 0;
            }
        }
        &--links{
            display: flex;
            gap: 0 40px;

            @media (max-width:576px){
               flex-direction: column;
               gap: 20px 0;
            }

            a{
                text-decoration: none;
                color: #8B949A;
                font-size: 14px;
                font-weight: 500;
                transition: all .2s linear;
            &:hover{
                color: var(--light-blue);
            }
            }
        }
    }
}