.order_form {
    .form_left {
        width: calc(100% - 336px);

        .form__left-component {
            border-radius: 20px;
            background: #FFF;
            padding: 40px;

            &_title {
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
            }

            input {
                border-radius: 10px;
                background: #F6F6F6;
                padding: 12px 24px;
                width: 100%;
            }
        }
    }
}