.onsale {
    margin: 64px 0 40px 0;
    @media (max-width:768px){
        margin: 20px 0 0 0;
    }
    .container {
    @media (max-width: 768px){
            padding-right: 0;
    }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        @media (max-width: 980px){
            flex-direction: column;
            gap: 24px 0;
        }
    }
    &__adds{
        display: flex;
        flex-direction: column;
        gap: 24px 0;
        width: calc(25% - 12px);

        @media (max-width:1024px){
            height: 300px;
        }
       

        @media (max-width:576px){
           height: unset;
        }

        @media (max-width: 980px){
            flex-direction: row;
            width: 100%;
            gap: 24px;
        }
        @media (max-width:768px){
            padding-right: 15px;
        }
        @media (max-width:576px){
               gap: 0 10px;                 
        }

        &--item{
            width: 100%;
            height: calc(50% - 12px);
            position: relative;
            border-radius: var(--h2);

            @media (max-width: 980px){
                height: 100%;
            }
            @media (max-width:576px){
                height: 175px;            
            }

            h4{
                color: var(--white);
                font-size:var(--h4, 20px);
                padding: 26px 0 0 26px;
                width: 50%;
                font-weight: 700;

                @media (max-width:768px){
                    width: 100%;
                    font-size: 16px;
                }
            }

            &:first-child{
                background-color: #001B2B;
                background-image: url(../images/add-image.png);
                background-repeat: no-repeat;
                background-position: right;
                background-size: contain;

                @media (max-width:768px){
                    background-size: auto;
                    background-position: bottom center;
                }
                @media (max-width:576px){
                    background-size: 150px;
                }
            }
            &:last-child{
                background-color: #F26C6C;
                background-image: url(../images/add-image.png);
                background-repeat: no-repeat;
                background-position: right;
                background-size: contain;

                @media (max-width:768px){
                    background-size: auto;
                    background-position: bottom center;
                }
                @media (max-width:576px){
                    background-size: 150px;
                }
            }
        }
    }
    &__swiper {
        display: flex;
        flex-direction: column;
        position: relative;
        width: calc(75% - 12px);

        @media (max-width: 980px){
            width: 100%;
        }

    }
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 24px;
        @media (max-width:768px){
           padding-right: 15px;
           margin-bottom: 10px;
           gap: 24px;
           h2{
            width: 70%;
           }
        }
        a{
            text-decoration: none;
            color: inherit;
            font-weight: var(--medium);
            transition: all .2s linear;
            &:hover{
                color: var(--light-blue );
            }
        }
    }
    &-next{
        position: absolute;
        top: 268px;
        right: -59px;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .3s all ease;

        @media (max-width: 768px){
            display: none;
        }

        @media (max-width:1440px){
            right: 0;
            z-index: 423;
        }

        svg{
            path{
                transition: .3s all ease;
            }
        }
        &:hover{
            background-color: var(--light-blue);

            svg{
                path{
                    stroke: var(--white);
                }
            }
        }
    }
}
.bestseller {
    margin: 80px 0;

    @media (max-width:768px){
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .container {
        @media (max-width:768px){
            padding-right: 0;
        }
    }

    &__swiper {
        position: relative;
    }
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 24px;
        @media (max-width:768px){
           padding-right: 15px;
           margin-bottom: 10px;
           gap: 24px;
        }
        a{
            text-decoration: none;
            color: inherit;
            font-weight: var(--medium);
            transition: all .2s linear;
            &:hover{
                color: var(--light-blue );
            }
            
        }
    }
}
.swiper.onsaleSwiper,
.swiper.bestSellerSwiper {
    width: 100%;
    .swiper-wrapper {
        overflow: visible !important;
    }
    .swiper-slide{
        padding: 15px;
        border-radius: var(--h2);
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        overflow: visible !important;
        .product-box{
           
            &__raiting{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 17px;
                gap: 0 59px;
    
                @media (max-width:1440px){
                    gap: 0;
                }
    
                &__tags {
                    display: flex;
                    gap: 0 5px;
                    &--hit, &--new{
                       
                        border-radius: 100px;
                        font-weight: var(--semi-bold);
                        color: var(--white);
                        font-size: 12px;
                    }
                    &--hit {
                        padding: 3px 10px;
                        background-color: #FDA348;
                    }
                    &--new {
                        padding: 3px 10px;
                        background-color: #27D558;
                    }
                }
                &__stars{
                    display: flex;
                    align-items: center;
                    gap: 0 4px;
    
                    p{
                        font-size: var(--small-text);
                        font-weight: var(--medium);
                    }
                    span{
                        color: var(--gray-color);
                        font-size: var(--small-text);
                        font-weight: var(--medium);
                    }
                }
            }
            &__tags {
                display: flex;
                gap: 0 5px;
                &--hit, &--new{
                    padding: 3px 10px;
                    border-radius: 100px;
                    font-weight: var(--semi-bold);
                    color: var(--white);
                    font-size: 12px;
                }
                &--hit {
                    background-color: #FDA348;
                }
                &--new {
                    background-color: #27D558;
                }
            }
            &__discount {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 11px;
                &--number{
                    background-color: var(--red);
                    font-size: var(--small-text);
                    padding: 3px 5px;
                    border-radius: 100px;
                    font-weight: var(--bold);
                    color: var(--white);
                }
                div{
                    display: flex;
                    align-items: center;
                    gap: 0 2px;
                    background-color: var(--light-gray);
                    padding: 5px;
                    border-radius: 100px;
                    p {
                        font-size: var(--small-text);
                        font-weight: var(--bold);
                    }
                }
            }
            .slide__info{
                position: relative;
                cursor: pointer;
                z-index: 1231321321434;
                &::after{
                    content: '';
                    width: 15px;
                    height: 15px;
                    transform: rotate(45deg);
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 30px;
                    display: none;
                    margin: auto ;
                    background: var(--white);
                    z-index: 2323232321;
                }
                &__title{
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 700;
                    background: transparent;
                    padding: 0;
                    margin: 0;
                    text-align: left;
                    width: 100%;
                }
                &-content{
                    flex-direction: column;
                    gap: 10px;
                    position: fixed;
                    top: 67px;
                    left: 1%;     
                    border-radius: 10px;
                    width: 312px;
                    background: var(--white);
                    padding: var(--h2);
                    z-index: 2112313;
                    box-shadow: 0px 10px 20px 0px rgba(0, 27, 43, 0.10);
                    transform: scale(0);
                    transition: all .3s ease;
                    

                }
                &__description{
                    font-size: var(--small-text);
                    font-weight: var(--medium);
                    color: var(--gray-color);
                    
                }   
                &__link{
                    color: var(--light-blue);
                    font-size: var(--small-text);
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    width: 100%;
                }
                &:hover{
                    .slide__info-content{
                      transform: scale(1);
                    }
                    .slide__info-content::after{
                        display: block;
                    }
                    &::after{
                       display: block;
                    }
                }
            }
            &__info{
                display: flex;
                gap: 0 15px;
                margin-top: 15px;
                justify-content: space-between;
                 &--item{
                    display: flex;
                    align-items: center;
                    background-color: var(--light-gray);
                    padding: 5px 10px;
                    border-radius: 5px;
                    gap: 0 5px;
                    font-size: var(--small-text);
                    font-weight: var(--medium);
                }
            }
            &__type{
                display: flex;
                justify-content: center;
                padding-top: 15px;
                border-top: 1px solid var(--light-gray);
                margin-top: 12px;
                flex-direction: column;
                align-items: center;
                width: calc(100% + 30px);
                margin-left: -15px;
                &--text{
                    font-size: 16px;
                    color: var(--gray-color);
                    
                }
                &--title {
                    font-size: 24px;
                    font-weight: var(--bold);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    display: block;
                    a{
                        text-decoration: none;
                        color: var(--main-color);
                        transition: all .2s linear;
                        &:hover{
                            color: var(--light-blue);
                        }
                    }
                }
            }
            &__price{
                margin-top: 15px;
                display: flex;
                justify-content: center;
                gap: 0 5px;
                align-items: center;
                &--old {
                    font-size: var(--h4);
                    font-weight: var(--bold);
                }
                &--new{
                    font-size: 14px;
                    color: var(--red);
                    text-decoration-line: line-through;
                }
            }
            &__buttons {
                margin-top: 15px;
                display: flex;
                align-items: center;
                gap: 0 10px;
                justify-content: space-between;
                a{
                    display: flex;
                    text-decoration: none;
                    align-items: center;
                    gap: 0 10px;
                    margin: 0;
                    padding: 12px 36px;
                    @media (max-width:1440px){
                    padding: 12px 22px;
                 }
                    @media (max-width:480px){
                        padding: 12px;
                    }
                    // width: 171px;
                }
                .heart, .chart{
                    background-color: var(--light-gray);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 44px;
                    height: 44px;
                    border-radius: 12px;
                    cursor: pointer;
                    transition: .3s all ease;
    
                    svg{
                        path {
                            transition: .3s all ease;
                        }
                    }
                    &:hover {
                        path{
                            stroke: var(--light-blue);
                        }
                    }
                }
            }
            &__saving{
                display: inline-flex;
                align-items: center;
                gap: 0 5px;
                position: relative;
                width: fit-content;
                margin: 0 auto;
                .check-icon {
                    display: none;
                }
                &:has(:focus) .check-icon {
                    display: inline-block;
                }
                &:has(:focus) .basket-icon {
                    display: none;
                }
            }
        }

        &__image {
            position: relative;
            .swiper.imageSwiper{
                padding-bottom: 32px;
                margin-bottom: -32px;
                .swiper-slide{
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    img{
                        width: 196px;
                        height: 137px;
                        margin: 0 auto;
                    }
                }
                .custom-pagination{
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display:flex;
                    justify-content: space-between;
                    width: 100%;z-index: 2;
                    .custom-dot{
                        height: 100%;
                        flex: 1;
                        display: block;
                        cursor: pointer;
                    }
                }
            }
            .image-swiper-pagination{
                // width: 100%;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 100;
                .swiper-pagination-bullet{
                    width: 10px;
                    height: 2px;
                    background-color: #001B2B;
                    border-radius: 100px;
                }
            }

            img{
                width: 196px;
                min-height: 137px;
            }   
        }
                
    }
}

.swiper.onsaleSwiper{
    @media (max-width:1440px){
        width: 94%;
        margin-left: 0;

        @media (max-width: 980px){
            width: 90%;
            margin-right: 0;
        }
        @media (max-width: 768px){
            width: 100%;
            
        }
    }
}

.swiper.bestSellerSwiper {
    @media (max-width:1440px) {
        width: 90%;
    }
    @media (max-width:768px){
        width: 100%;
    }
}

h2 {
    font-size: 30px;

    @media (max-width:768px){
       font-size: 24px;
    }
    @media (max-width:576px){
       width: 70%;
    }
}
.bestSeller-prev, .bestSeller-next {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s all ease;

    @media (max-width:768px){
        display: none;
    }

    svg{
        path{
            transition: .3s all ease;
        }
    }
    &:hover {
        background-color: var(--light-blue);

        svg{
            path{
                stroke: var(--white);
            }
        }
    }
}
.bestSeller-prev {
    top: 36%;
    left: -54px;

    @media (max-width:1440px){
        left: 0;
        z-index: 423;
    }
}
.bestSeller-next{
    top: 36%;
    right: -54px;

    @media (max-width:1440px){
        right: 0;
        z-index: 423;
    }
}
.bestSeller__adds {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    @media (max-width:768px){
        padding-right: 15px;
    }

    &--item{
        width: calc(50% - 12px);
        min-height: 200px;
        background-image: url(../images/add-image.png);
        background-repeat: no-repeat;
        background-position: right;  

        @media (max-width:768px){
            background-position: -15px 46px;
            background-size: 155px;
            width: calc(50% - 12px);
        }

        
        
        h4 {
            font-size: 30px;
            font-weight: var(--bold);
            width: 50%;
            padding: 46px 0 46px 46px;
            color: var(--white);

            @media (max-width:768px){
                padding: 18px 0 18px var(--h2);
                font-size: 16px;
                width: 100%;
            }
        }

        &:first-child{
            background-color: #001B2B;
            border-radius: var(--h2);          
        }
        &:last-child{
            background-color: #F26C6C;
            border-radius: var(--h2);
        }
    }
}