.brands {
    margin: 90px 0 0px 0;

    .container {
        @media (max-width:768px) {
            padding-right: 0;
        }
    }

    @media (max-width:768px) {
        margin-top: 40px;
    }

    &__tabs {
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        gap: 24px 0;

        @media (max-width:768px) {
            gap: 10px;
        }

        &--buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            gap: 24px;

            @media (max-width:768px) {
                gap: 10px;
                flex-wrap: wrap;
            }

            .button,
            .view_all {
                flex: 1;
                background-color: var(--white);
                border: none;
                cursor: pointer;
                transition: 0.3s;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s all ease;
                height: 100px;

                @media (max-width:768px) {
                    height: 60px;
                }

                &.active {
                    background-color: var(--light-blue);
                    color: white;

                    svg {
                        path {
                            fill: var(--white);
                        }
                    }
                }

                &.hover {
                    background-color: var(--light-blue);
                    color: white;

                    svg {
                        path {
                            fill: var(--white);
                        }
                    }
                }

            }

            .view_all {
                text-decoration: none;
                display: flex;
                gap: 0 10px;
                background-color: var(--light-blue);

                span {
                    font-size: 16px;
                    font-weight: var(--bold);
                    color: var(--white);
                    white-space: nowrap;
                }

                @media (max-width:768px) {
                    margin-right: 15px;
                }
            }
        }

        &--tab_contents {
            position: relative;

            .content {
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
                position: absolute;
                visibility: hidden;
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 24px 24px;

                &.active {
                    opacity: 1;
                    position: relative;
                    visibility: visible;
                }

                &__item {
                    display: flex;
                    background-color: var(--white);
                    border-radius: var(--h2);
                    justify-content: space-between;
                    width: 100%;
                    overflow: hidden;
                    min-height: 312px;
                    text-decoration: none;
                    color: var(--main-color);

                    @media (max-width: 980px) {
                        height: 250px;
                    }

                    @media (max-width:768px) {
                        min-height: auto;
                        max-height: 180px;
                    }

                    &--info {
                        padding: 40px 0 40px 40px;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: space-between;

                        @media (max-width: 1024px) {
                            padding: 20px 0 20px var(--h2);
                        }

                        .name {
                            display: flex;
                            flex-direction: column;
                            align-items: start;

                            h2 {
                                text-align: left;
                                margin-bottom: 10px;
                                font-size: 30px;
                                font-weight: var(--bold);

                                @media (max-width:768px) {
                                    font-size: var(--h2);
                                    text-align: left;
                                    width: 100%;
                                }
                            }

                            p {
                                font-size: 18px;
                                color: #202F38;

                                @media (max-width:768px) {
                                    font-size: 14px;
                                    text-align: left;
                                }
                            }
                        }
                    }

                    &--image {
                        width: 55%;

                        @media (max-width: 980px) {
                            width: unset;
                        }

                        @media (max-width:576px) {
                            width: 45%;
                        }

                        img {
                            width: 100%;
                            height: 100%;

                            @media (max-width: 980px) {
                                width: unset;
                            }

                            @media (max-width:576px) {
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

.product__tabs {
    margin-top: 24px;
    .container {

        .product__tabs__content {
            background: #FFF;
            display: flex;
            border-radius: 20px;

            @media (max-width:980px) {
                flex-direction: column;
            }

            .product__tabs__content__links {
                padding: 40px;
                border-right: 1px solid #F6F6F6;
                display: flex;
                flex-direction: column;
                gap: 40px 0;

                @media (max-width:980px) {
                    flex-direction: row;
                    gap: 30px;
                    padding: 20px;
                    border-right: 0;
                    border-bottom: 1px solid #F6F6F6;
                    overflow-x: auto;

                }

                &::-webkit-scrollbar {
                    height: 0px;
                    display: none;
                }

                // &::-webkit-scrollbar-thumb {
                //     background-color: #202F38;
                // }

                .product__tabs__content__links__item {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: #78838A;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        &.active {
                            color: var(--main-color);
                            font-weight: 700;
                        }

                        .info_count {
                            color: #FFF;
                            text-align: center;
                            font-family: "PP Neue Montreal";
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            border-radius: 100px;
                            background: #FDA348;
                            padding: 3px 5px;
                            flex: 0 0 auto;
                            line-height: normal;
                        }
                    }
                }

                @media (max-width: 768px) {
                    padding: 20px;
                }

                .link {
                    text-decoration: none;
                }
            }

            .product__tabs__content__products {
                padding: 40px;
                width: 100%;
                @media (max-width:980px) {
                    padding: 20px;
                }

                .product__tabs__content__item__title {
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    width: 100%;
                    @media (max-width:768px) {
                    font-size: 24px ;
                    }
                }

                .product__tabs__content__products__item__text--description {
                    color: #001B2B;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    margin-top: 24px;
                    line-height: 24px;

                    @media (max-width:768px) {
                        margin-top: 20px;
                        font-size: 14px;

                    }
                }

                .characteristic__title {
                    color: var(--main-color);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    margin-top: 24px;
                    margin-bottom: 16px;
                    @media (max-width:980px) {
                        font-size: 16px;
                    }
                    @media (max--width:768px) {
                        margin-top: 20px;
                        margin-bottom: 10px;
                    }

                }

                .characteristic__content {
                    display: flex;
                    flex-direction: column;
                    gap: 11px;

                    .characteristic__content__item {
                        display: flex;
                        gap: 11px;
                        @media (max--width:768px) {
                            gap: 8px;
                        }
                        p {
                            width: 40%;
                            @media (max-width:768px) {
                                width: 100%;
                                font-size: 13px;
                            }
                        }
                    }
                }

                .reviews {
                    &__header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 8px;
                        @media (max-width:768px) {
                            flex-direction: column;
                            gap: 10px;
                            margin-bottom: 4px;
                        }
                    }

                    &__title {
                        font-size: 24px;
                        font-weight: bold;
                    }

                    &__sort {
                        color: var(--001-b-2-b, #001B2B);
                        font-family: "PP Neue Montreal";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        min-width: 300px;
                        padding: 12px 24px;
                        display: block;
                        outline: 0;
                        background: #F6F6F6 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none"><path d="M11.8281 6.75L7.47614 11.102L3.12416 6.75" stroke="%23001B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat right 24px center;
                        background-size: 16px;
                        appearance: none;
                        border-radius: 10px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        cursor: pointer;
                        border: 0;
                        @media (max-width:768px) {
                            min-width: auto;
                            width: 100%;
                        }

                    }

                    .raiting_rewiev {
                        display: flex;
                        gap: 24px;
                    }

                    &__list {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        width: 100%;
                    }

                    &__summary {
                        margin-top: 20px;
                        padding: 20px;
                        border-radius: 20px;
                        background: #F6F6F6;
                        width: 100%;
                        max-width: 240px;
                        height: fit-content;
                        position: sticky;
                        top: 140px;
                        &:not(.mobile){
                            @media (max-width:768px) {
                                display: none;

                            }
                        }
                        &.mobile{
                            display: none;
                            @media (max-width:768px) {
                                display: block;
                                max-width: 100%;
                                margin-top: 0;
                                position: static;
                            }
                        }
                        .rating_header {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            justify-content: space-between;
                        }

                        .rating__value {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            color: var(--main-color);
                            text-align: center;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                        }

                    }

                    .rating__count {
                        color: var(--main-color);
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                    }

                    .rating__items {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        margin-top: 10px;

                        .rating__item {
                            display: flex;
                            align-items: center;
                            gap: 15px;

                            .reaiting_count {
                                width: 25px;
                                flex: 0 0 auto;
                            }

                            .raiting_bar {
                                width: calc(100% - 50px);
                                height: 6px;
                                background: #fff;
                                position: relative;
                                border-radius: 100px;

                                &--thumb {
                                    position: absolute;
                                    background: #FDA348;
                                    left: 0;
                                    top: 0;
                                    height: 100%;
                                    border-radius: 100px;
                                }
                            }
                        }
                    }

                    .button {
                        margin-top: 10px;
                        width: 100%;
                    }

                }

                .review {
                    border-radius: 20px;
                    background: #F6F6F6;
                    padding: 20px;

                    &__header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        @media (max-width:768px) {
                            flex-direction: column;
                            align-items: flex-start;
                        }
                    }

                    &__author {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                    }

                    &__info {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        @media (max-width:768px) {
                            width: 100%;
                            justify-content: space-between;
                        }
                    }

                    &__date {
                        font-size: 14px;
                        color: gray;
                    }


                    &__rating {
                        color: #FDA348;
                        font-size: 18px;
                    }

                    &__content {
                        margin-top: 16px;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                    }

                    &__pros,
                    &__cons,
                    &__comment {
                        color: var(--78838-a, #78838A);
                        font-family: "PP Neue Montreal";
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;

                        strong {
                            color: var(--main-color);
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            display: block;
                            margin-bottom: 4px;
                        }

                    }
                }
            }
        }
    }
}