@import "settings";
@import "header";
@import "modal";
@import "hero";
@import "onsale";
@import "benefits";
@import "footer";
@import "tabs";
@import "breadcrumbs";
// pgaes
@import "brands";
@import "catalog";
@import "favorites";
@import "form";
@import "intro";
@import "variants";
@import "filterbtn";
@import "comparison";
body{
    &.is-active{
        overflow: hidden;
    }
}
.main{
    margin-top: 125px;
}
.compare_wrapper{
    overflow: hidden;
}