*, ul, ol, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ppneuemontreal-book.woff);
}
@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/ppneuemontreal-thin.otf);
}
@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/ppneuemontreal-medium.otf);
}
@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ppneuemontreal-bold.woff);
}
:root {
  --main-color: #001B2B;
  --secondary-color: #202F38;
  --font: "PP Neue Montreal";
  --thin: 300;
  --bold:700;
  --medium: 500;
  --semi-bold: 600;
  --gray-color: #78838A;
  --h2: 20px;
  --h1: 30px;
  --h4: 20px;
  --small-text: 12px;
  --red: #F26C6C;
  --white: #fff;
  --light-gray: #f6f6f6;
  --light-blue: #3CB2F2;
}

body {
  font-family: "PP Neue Montreal";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: var(--main-color);
  background-color: #f6f6f6;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container {
    padding: 0 15px;
  }
}

.button {
  padding: 12px 24px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all ease;
  border: none;
  display: inline-block;
}
.button.blue {
  background-color: #3CB2F2;
  color: #fff;
}
.button.blue:hover {
  background-color: #1596DA;
}
.button.blue:active {
  background-color: #3CB2F2;
  opacity: 0.5;
}
.button.black {
  background-color: #001B2B;
  color: #fff;
  display: inline-block;
}
.button.black:hover {
  opacity: 0.5;
}
.button.white {
  background-color: #fff;
  color: #202F38;
  display: inline-block;
}
.button.white:active {
  opacity: 0.5;
}

.slide_btn {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 0 0 auto;
  transition: all 0.2s linear;
}
.slide_btn svg path {
  transition: all 0.2s linear;
}
.slide_btn:hover {
  background: #3CB2F2;
}
.slide_btn:hover svg path {
  stroke: #fff;
}
.slide_btn.next {
  transform: rotate(180deg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 343;
  background: #fff;
  /* Slide Down Menu */
}
.header__row {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header__info {
  position: relative;
  z-index: 23;
}
.header__info .container {
  position: relative;
  z-index: 23;
}
.header__dropdown {
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0, 27, 43, 0.1);
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);
  border-radius: 10px;
  top: 200%;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.header__dropdown.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.header__dropdown h2 {
  font-size: var(--h2);
  color: var(--main-color);
  font-weight: 700;
}
.header__dropdown-buttons {
  display: flex;
  gap: 0 10px;
}
.header__dropdown .rectangle {
  position: absolute;
  top: -10px;
  left: 40px;
}
.header__nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--main-color);
  gap: 0 6px;
  font-size: 14px;
  transition: all 0.2s linear;
}
.header__nav-link:hover {
  color: var(--light-blue);
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 40px;
}
@media (max-width: 1150px) {
  .header__menu {
    gap: 0 20px;
  }
}
.header__contacts {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-left: auto;
  z-index: 9999;
}
.header__contacts a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s linear;
}
.header__contacts a:hover {
  color: var(--light-blue);
}
@media (max-width: 576px) {
  .header__contacts a {
    font-size: 14px;
  }
}
.header__location {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 40px;
  font-size: 14px;
  gap: 0 6px;
  color: var(--gray-color);
  position: relative;
  z-index: 9999;
}
.header__menu-overlay {
  position: fixed;
  top: 49px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 99;
}
.header .menu {
  position: absolute;
  top: -600%;
  left: 0;
  width: 100%;
  background: white;
  padding: 20px;
  transition: top 0.3s ease;
  z-index: 999;
}
.header .menu nav ul {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
.header .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.header .menu ul li {
  margin: 15px 0;
}
.header .menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.header__hamburger-menu.active .menu {
  top: 48px;
}
.header__hamburger-menu.active .menu-overlay {
  opacity: 1;
  visibility: visible;
}
.header__hamburger {
  background-color: transparent;
  border: none;
  margin-left: 34px;
  display: none;
  z-index: 9999;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__hamburger {
    display: block;
  }
}
.header__bottom {
  background: #F6F6F6;
}
.header__bottom .container {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 15px 15px;
  width: auto;
}
.header__bottom .container {
  z-index: 2;
}
.header__bottom-actions {
  display: flex;
  gap: 0 27px;
  align-items: center;
}
@media (max-width: 980px) {
  .header__bottom-actions {
    display: none;
  }
}
.header__bottom-actions a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px 0;
  position: relative;
  transition: all 0.2s linear;
}
.header__bottom-actions a svg path {
  transition: 0.2s all ease;
}
.header__bottom-actions a:hover {
  color: var(--light-blue);
}
.header__bottom-actions a:hover svg path {
  stroke: var(--light-blue);
}
.header__bottom-actions a:hover svg ellipse {
  stroke: var(--light-blue);
}
.header__bottom-actions a span {
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 2px 5px;
  border-radius: 100px;
  background-color: #F26C6C;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__bottom-actions a .liked {
  top: -7px;
  right: 0;
}
.header__bottom-actions a .basket {
  top: -7px;
  right: 5px;
}
.header__bottom-actions a p {
  font-size: 12px;
  font-weight: 500;
}
.header__bottom_form {
  max-width: 694px;
  width: 100%;
  flex-shrink: 1;
}
.header__bottom_form input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 10px;
  background: #FFF;
  border: none;
  font-size: 14px;
}
.header__bottom_form input:focus {
  outline: none;
}
.header__catalog {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.header__catalog img {
  height: 20px;
}
.header .catalog {
  position: fixed;
  background-color: transparent;
  z-index: 2;
  width: 100%;
  display: none;
}
.header .catalog::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 27, 43, 0.5019607843);
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.header .catalog .container {
  display: flex;
  border-radius: 10px;
  margin-top: 20px;
}
.header .catalog__menu {
  padding: 40px;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  border-radius: 10px 0 0 10px;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}
.header .catalog__menu-content {
  display: none;
}
.header .catalog__menu-content:first-child {
  display: block;
}
.header .catalog__menu-item {
  color: #78838A;
  font-family: Inter;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .catalog__menu-item a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  gap: 20px;
  transition: all 0.2s linear;
}
.header .catalog__menu-item a:hover {
  color: #001B2B;
}
.header .catalog__menu-item a.active {
  color: #001B2B;
}
.header .catalog__content {
  padding: 40px;
  background: #FFF;
  width: calc(100% - 284px);
  border-radius: 0 10px 10px 0;
}
@media (max-width: 1200px) {
  .header .catalog__content {
    padding: 20px;
  }
}
.header .catalog__content .swiper-slide__contents {
  height: 30px;
}
.header .catalog__content-slider {
  display: flex;
  width: calc(100% - 168px);
  align-items: center;
}
.header .catalog__content_item_top {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 1200px) {
  .header .catalog__content_item_top {
    gap: 20px;
  }
}
.header .catalog__content_links {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}
@media (max-width: 768px) {
  .header .catalog__content_links {
    flex-direction: column;
  }
}
.header .catalog__content_item {
  list-style: none;
  color: #78838A;
  font-size: 14px;
  font-family: inter;
  font-style: normal;
  font-weight: 400;
}
.header .catalog__content_lists {
  width: calc(33.33% - 10px);
  gap: 16px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .header .catalog__content_lists {
    width: calc(50% - 10px);
  }
}
.header .catalog__content-link {
  color: #001B2B;
  text-decoration: none;
  transition: all 0.2s linear;
}
.header .catalog__content-link:hover {
  color: #3CB2F2;
}
.header .catalog__content__menu-content {
  display: none;
}
.header .catalog__content__menu-content:first-child {
  display: block;
}

.header__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 27, 43, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.header__modal-overlay form {
  position: relative;
}

.header__location_modal {
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 620px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  min-height: 407px;
  overflow: scroll;
}
.header__location_modal form#modal-form {
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.header__modal-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  font-weight: var(--bold);
  text-align: left;
  font-family: "Inter", sans-serif;
}

.modal-form {
  position: relative;
}

form {
  position: relative;
}

/* Search Input */
.search-box {
  width: 100%;
  padding: 12px 24px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background-color: #F6F6F6;
}
.search-box:focus {
  outline: none;
}

.search_icon {
  position: absolute;
  top: 11px;
  right: 24px;
}

.header__city-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 200px;
  overflow-y: auto;
  text-align: center;
}

.header__sity-item {
  width: calc(33.3333% - 30px);
  text-align: left;
}

.header__city-list div {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.header__city-list div:hover {
  background: #f0f0f0;
}

/* Show dropdown with class */
.heder_dropdown.is-active {
  display: block;
  opacity: 1;
}

.hero .row {
  display: flex;
  flex-direction: column;
}
.hero__main {
  display: flex;
  gap: 0 24px;
}
@media (max-width: 1024px) {
  .hero__main {
    flex-direction: column;
    gap: 48px;
  }
}
.hero__main .swiper-container {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  position: relative;
  min-height: 400px;
}
@media (max-width: 1024px) {
  .hero__main .swiper-container {
    min-height: unset;
  }
}
.hero__main .swiper-container:first-child {
  width: calc(67% - 12px);
}
@media (max-width: 1024px) {
  .hero__main .swiper-container:first-child {
    width: 100%;
  }
}
.hero__main .swiper-container:last-child {
  width: calc(33% - 12px);
}
@media (max-width: 1024px) {
  .hero__main .swiper-container:last-child {
    width: 100%;
  }
}
.hero__main .swiper-container .swiper.mainSwiper {
  width: 100%;
  height: 100%;
}
.hero__main .swiper-container .swiper.mainSwiper .swiper-slide {
  display: flex;
  justify-content: space-between;
  background-color: #3CB2F2;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
.hero__main .swiper-container .swiper.mainSwiper .swiper-slide__contents {
  width: 46%;
  padding-left: 90px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .hero__main .swiper-container .swiper.mainSwiper .swiper-slide__contents {
    padding-left: 20px;
  }
}
@media (max-width: 576px) {
  .hero__main .swiper-container .swiper.mainSwiper .swiper-slide__contents {
    width: 55%;
  }
}
.hero__main .swiper-container .swiper.mainSwiper .swiper-slide__contents h1 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
@media (max-width: 768px) {
  .hero__main .swiper-container .swiper.mainSwiper .swiper-slide__contents h1 {
    font-size: 24px;
  }
}
.hero__main .swiper-container .swiper.mainSwiper .swiper-slide__contents p {
  font-size: 16px;
  color: #fff;
  font-weight: var(--medium);
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .hero__main .swiper-container .swiper.mainSwiper .swiper-slide__contents p {
    font-size: 14px;
  }
}
.hero__main .swiper-container .swiper.mainSwiper .swiper-slide__contents a {
  width: fit-content;
}
.hero__main .swiper-container .swiper.mainSwiper .swiper-slide__image {
  width: 60%;
  position: relative;
  height: 100%;
}
@media (max-width: 1024px) {
  .hero__main .swiper-container .swiper.mainSwiper .swiper-slide__image {
    width: unset;
  }
}
@media (max-width: 576px) {
  .hero__main .swiper-container .swiper.mainSwiper .swiper-slide__image {
    width: 40%;
    height: 266px;
  }
}
.hero__main .swiper-container .swiper.mainSwiper .swiper-slide__image .main_image {
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .hero__main .swiper-container .swiper.mainSwiper .swiper-slide__image .main_image {
    margin-bottom: -5px;
  }
}
@media (max-width: 576px) {
  .hero__main .swiper-container .swiper.mainSwiper .swiper-slide__image .main_image {
    width: unset;
  }
}
.hero__main .swiper-container .swiper.mainSwiper .swiper-slide__image .cover_png {
  position: absolute;
  top: 0;
  right: 0;
}
.hero__main .swiper-container .swiper.mainSwiper .main-swiper-next, .hero__main .swiper-container .swiper.mainSwiper .main-swiper-prev {
  position: absolute;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  transition: 0.3s all ease;
}
@media (max-width: 768px) {
  .hero__main .swiper-container .swiper.mainSwiper .main-swiper-next, .hero__main .swiper-container .swiper.mainSwiper .main-swiper-prev {
    display: none;
  }
}
.hero__main .swiper-container .swiper.mainSwiper .main-swiper-next:hover, .hero__main .swiper-container .swiper.mainSwiper .main-swiper-prev:hover {
  background-color: #3CB2F2;
}
.hero__main .swiper-container .swiper.mainSwiper .main-swiper-next {
  right: 20px;
}
.hero__main .swiper-container .swiper.mainSwiper .main-swiper-prev {
  left: 20px;
}
.hero__main .swiper-container .swiper.productDay {
  height: 100%;
  width: 100%;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__days {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__days--title {
  font-size: 24px;
  font-weight: 700;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__days--counter {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__days--counter div {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #F6F6F6;
  font-size: 12px;
  color: var(--secondary-color);
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__days--counter span {
  font-size: 12px;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__image {
  display: flex;
  justify-content: center;
  position: relative;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__image img {
  width: 196px;
  min-height: 137px;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__image span {
  position: absolute;
  left: 90px;
  padding: 5px;
  border-radius: 100px;
  background-color: #F26C6C;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__type {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__type span {
  font-size: 14px;
  color: var(--gray-color);
  text-align: center;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__type p {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__price {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 0 5px;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__price p {
  font-size: 20px;
  font-weight: var(--bold);
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__price span {
  color: #F26C6C;
  font-size: 14px;
  text-decoration-line: line-through;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide__saving {
  display: inline-flex;
  align-items: center;
  gap: 0 5px;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide .swiper-slide__saving .check-icon {
  display: none;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide .swiper-slide__saving:has(:focus) .basket-icon {
  display: none;
}
.hero__main .swiper-container .swiper.productDay .swiper-slide .swiper-slide__saving:has(:focus) .check-icon {
  display: inline-block;
}
.hero__main .swiper-container .swiper.productDay .product-next, .hero__main .swiper-container .swiper.productDay .product-prev {
  position: absolute;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #F6F6F6;
  backdrop-filter: blur(5px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  transition: 0.3s all ease;
}
.hero__main .swiper-container .swiper.productDay .product-next:hover, .hero__main .swiper-container .swiper.productDay .product-prev:hover {
  background-color: #3CB2F2;
}
.hero__main .swiper-container .swiper.productDay .product-next:hover svg path, .hero__main .swiper-container .swiper.productDay .product-prev:hover svg path {
  stroke: #fff;
}
.hero__main .swiper-container .swiper.productDay .product-next {
  right: 20px;
}
.hero__main .swiper-container .swiper.productDay .product-prev {
  left: 20px;
}
.hero__main .swiper-container .main-swiper-pagination, .hero__main .swiper-container .product-pagination {
  position: absolute;
  bottom: -18px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero__main .swiper-container .main-swiper-pagination .swiper-pagination-bullet, .hero__main .swiper-container .product-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 2px;
  background-color: #001B2B;
  border-radius: 100px;
}

.onSale {
  margin: 64px 0 40px 0;
}
@media (max-width: 768px) {
  .onSale {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 768px) {
  .onSale .container {
    padding-right: 0;
  }
}
.onSale .row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (max-width: 980px) {
  .onSale .row {
    flex-direction: column;
    gap: 24px 0;
  }
}
.onSale__adds {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  width: calc(25% - 12px);
}
@media (max-width: 1024px) {
  .onSale__adds {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .onSale__adds {
    height: unset;
  }
}
@media (max-width: 980px) {
  .onSale__adds {
    flex-direction: row;
    width: 100%;
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .onSale__adds {
    padding-right: 15px;
  }
}
@media (max-width: 576px) {
  .onSale__adds {
    gap: 0 10px;
  }
}
.onSale__adds--item {
  width: 100%;
  height: calc(50% - 12px);
  position: relative;
  border-radius: 20px;
}
@media (max-width: 980px) {
  .onSale__adds--item {
    height: 100%;
  }
}
@media (max-width: 576px) {
  .onSale__adds--item {
    height: 175px;
  }
}
.onSale__adds--item h4 {
  color: #fff;
  font-size: var(--h4, 20px);
  padding: 26px 0 0 26px;
  width: 50%;
  font-weight: 700;
}
@media (max-width: 768px) {
  .onSale__adds--item h4 {
    width: 100%;
    font-size: 16px;
  }
}
.onSale__adds--item:first-child {
  background-color: #001B2B;
  background-image: url(../images/add-image.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
@media (max-width: 768px) {
  .onSale__adds--item:first-child {
    background-size: auto;
    background-position: bottom center;
  }
}
@media (max-width: 576px) {
  .onSale__adds--item:first-child {
    background-size: 150px;
  }
}
.onSale__adds--item:last-child {
  background-color: #F26C6C;
  background-image: url(../images/add-image.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
@media (max-width: 768px) {
  .onSale__adds--item:last-child {
    background-size: auto;
    background-position: bottom center;
  }
}
@media (max-width: 576px) {
  .onSale__adds--item:last-child {
    background-size: 150px;
  }
}
.onSale__swiper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(75% - 12px);
}
@media (max-width: 980px) {
  .onSale__swiper {
    width: 100%;
  }
}
.onSale .onsale-next {
  position: absolute;
  top: 268px;
  right: -59px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease;
}
@media (max-width: 768px) {
  .onSale .onsale-next {
    display: none;
  }
}
@media (max-width: 1440px) {
  .onSale .onsale-next {
    right: 0;
    z-index: 423;
  }
}
.onSale .onsale-next svg path {
  transition: 0.3s all ease;
}
.onSale .onsale-next:hover {
  background-color: var(--light-blue);
}
.onSale .onsale-next:hover svg path {
  stroke: #fff;
}

.bestSeller {
  margin: 80px 0;
}
@media (max-width: 768px) {
  .bestSeller {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .bestSeller .container {
    padding-right: 0;
  }
}

.bestSeller__swiper {
  position: relative;
}

.swiper.onsaleSwiper,
.swiper.bestSellerSwiper {
  width: 100%;
}
.swiper.onsaleSwiper .swiper-slide,
.swiper.bestSellerSwiper .swiper-slide {
  padding: 15px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.swiper.onsaleSwiper .swiper-slide__rating,
.swiper.bestSellerSwiper .swiper-slide__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  gap: 0 59px;
}
@media (max-width: 1440px) {
  .swiper.onsaleSwiper .swiper-slide__rating,
  .swiper.bestSellerSwiper .swiper-slide__rating {
    gap: 0;
  }
}
.swiper.onsaleSwiper .swiper-slide__rating--condition,
.swiper.bestSellerSwiper .swiper-slide__rating--condition {
  display: flex;
  gap: 0 5px;
}
.swiper.onsaleSwiper .swiper-slide__rating--condition p, .swiper.onsaleSwiper .swiper-slide__rating--condition span,
.swiper.bestSellerSwiper .swiper-slide__rating--condition p,
.swiper.bestSellerSwiper .swiper-slide__rating--condition span {
  padding: 5px 10px;
  border-radius: 100px;
  font-weight: var(--bold);
  color: #fff;
  font-size: 12px;
}
.swiper.onsaleSwiper .swiper-slide__rating--condition p,
.swiper.bestSellerSwiper .swiper-slide__rating--condition p {
  background-color: #FDA348;
}
.swiper.onsaleSwiper .swiper-slide__rating--condition span,
.swiper.bestSellerSwiper .swiper-slide__rating--condition span {
  background-color: #27D558;
}
.swiper.onsaleSwiper .swiper-slide__rating--stars,
.swiper.bestSellerSwiper .swiper-slide__rating--stars {
  display: flex;
  align-items: center;
  gap: 0 4px;
}
.swiper.onsaleSwiper .swiper-slide__rating--stars p,
.swiper.bestSellerSwiper .swiper-slide__rating--stars p {
  font-size: var(--small-text);
  font-weight: var(--medium);
}
.swiper.onsaleSwiper .swiper-slide__rating--stars span,
.swiper.bestSellerSwiper .swiper-slide__rating--stars span {
  color: var(--gray-color);
  font-size: var(--small-text);
  font-weight: var(--medium);
}
.swiper.onsaleSwiper .swiper-slide__image,
.swiper.bestSellerSwiper .swiper-slide__image {
  position: relative;
}
.swiper.onsaleSwiper .swiper-slide__image .swiper.imageSwiper,
.swiper.bestSellerSwiper .swiper-slide__image .swiper.imageSwiper {
  padding-bottom: 32px;
  margin-bottom: -32px;
}
.swiper.onsaleSwiper .swiper-slide__image .swiper.imageSwiper .swiper-slide,
.swiper.bestSellerSwiper .swiper-slide__image .swiper.imageSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  padding: 0;
}
.swiper.onsaleSwiper .swiper-slide__image .swiper.imageSwiper .swiper-slide img,
.swiper.bestSellerSwiper .swiper-slide__image .swiper.imageSwiper .swiper-slide img {
  width: 196px;
  height: 137px;
  margin: 0 auto;
}
.swiper.onsaleSwiper .swiper-slide__image .image-swiper-pagination,
.swiper.bestSellerSwiper .swiper-slide__image .image-swiper-pagination {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.swiper.onsaleSwiper .swiper-slide__image .image-swiper-pagination .swiper-pagination-bullet,
.swiper.bestSellerSwiper .swiper-slide__image .image-swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 2px;
  background-color: #001B2B;
  border-radius: 100px;
}
.swiper.onsaleSwiper .swiper-slide__image img,
.swiper.bestSellerSwiper .swiper-slide__image img {
  width: 196px;
  min-height: 137px;
}
.swiper.onsaleSwiper .swiper-slide__discount,
.swiper.bestSellerSwiper .swiper-slide__discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11px;
}
.swiper.onsaleSwiper .swiper-slide__discount span,
.swiper.bestSellerSwiper .swiper-slide__discount span {
  background-color: var(--red);
  font-size: var(--small-text);
  padding: 3px 5px;
  border-radius: 100px;
  font-weight: var(--bold);
  color: var(--white);
}
.swiper.onsaleSwiper .swiper-slide__discount div,
.swiper.bestSellerSwiper .swiper-slide__discount div {
  display: flex;
  align-items: center;
  gap: 0 2px;
  background-color: var(--light-gray);
  padding: 5px;
  border-radius: 100px;
}
.swiper.onsaleSwiper .swiper-slide__discount div p,
.swiper.bestSellerSwiper .swiper-slide__discount div p {
  font-size: var(--small-text);
  font-weight: var(--bold);
}
.swiper.onsaleSwiper .swiper-slide__info,
.swiper.bestSellerSwiper .swiper-slide__info {
  display: flex;
  gap: 0 15px;
  margin-top: 15px;
}
.swiper.onsaleSwiper .swiper-slide__info div,
.swiper.bestSellerSwiper .swiper-slide__info div {
  display: flex;
  align-items: center;
  background-color: var(--light-gray);
  padding: 5px 10px;
  border-radius: 5px;
  gap: 0 5px;
  font-size: var(--small-text);
  font-weight: var(--medium);
}
.swiper.onsaleSwiper .swiper-slide__type,
.swiper.bestSellerSwiper .swiper-slide__type {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  border-top: 1px solid var(--light-gray);
  margin-top: 12px;
  flex-direction: column;
  align-items: center;
}
.swiper.onsaleSwiper .swiper-slide__type span,
.swiper.bestSellerSwiper .swiper-slide__type span {
  font-size: 16px;
  color: var(--gray-color);
}
.swiper.onsaleSwiper .swiper-slide__type p,
.swiper.bestSellerSwiper .swiper-slide__type p {
  font-size: 24px;
  font-weight: var(--bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}
.swiper.onsaleSwiper .swiper-slide__price,
.swiper.bestSellerSwiper .swiper-slide__price {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 0 5px;
}
.swiper.onsaleSwiper .swiper-slide__price p,
.swiper.bestSellerSwiper .swiper-slide__price p {
  font-size: var(--h4);
  font-weight: var(--bold);
}
.swiper.onsaleSwiper .swiper-slide__price span,
.swiper.bestSellerSwiper .swiper-slide__price span {
  font-size: 14px;
  color: var(--red);
  text-decoration-line: line-through;
}
.swiper.onsaleSwiper .swiper-slide__buttons,
.swiper.bestSellerSwiper .swiper-slide__buttons {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.swiper.onsaleSwiper .swiper-slide__buttons a,
.swiper.bestSellerSwiper .swiper-slide__buttons a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 0 10px;
  margin: 0;
  padding: 12px 36px;
}
@media (max-width: 480px) {
  .swiper.onsaleSwiper .swiper-slide__buttons a,
  .swiper.bestSellerSwiper .swiper-slide__buttons a {
    padding: 12px;
  }
}
.swiper.onsaleSwiper .swiper-slide__buttons .heart, .swiper.onsaleSwiper .swiper-slide__buttons .chart,
.swiper.bestSellerSwiper .swiper-slide__buttons .heart,
.swiper.bestSellerSwiper .swiper-slide__buttons .chart {
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.swiper.onsaleSwiper .swiper-slide__buttons .heart svg path, .swiper.onsaleSwiper .swiper-slide__buttons .chart svg path,
.swiper.bestSellerSwiper .swiper-slide__buttons .heart svg path,
.swiper.bestSellerSwiper .swiper-slide__buttons .chart svg path {
  transition: 0.3s all ease;
}
.swiper.onsaleSwiper .swiper-slide__buttons .heart:hover path, .swiper.onsaleSwiper .swiper-slide__buttons .chart:hover path,
.swiper.bestSellerSwiper .swiper-slide__buttons .heart:hover path,
.swiper.bestSellerSwiper .swiper-slide__buttons .chart:hover path {
  stroke: var(--light-blue);
}
.swiper.onsaleSwiper .swiper-slide__saving,
.swiper.bestSellerSwiper .swiper-slide__saving {
  display: inline-flex;
  align-items: center;
  gap: 0 5px;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.swiper.onsaleSwiper .swiper-slide .swiper-slide__saving .check-icon,
.swiper.bestSellerSwiper .swiper-slide .swiper-slide__saving .check-icon {
  display: none;
}
.swiper.onsaleSwiper .swiper-slide .swiper-slide__saving:has(:focus) .basket-icon,
.swiper.bestSellerSwiper .swiper-slide .swiper-slide__saving:has(:focus) .basket-icon {
  display: none;
}
.swiper.onsaleSwiper .swiper-slide .swiper-slide__saving:has(:focus) .check-icon,
.swiper.bestSellerSwiper .swiper-slide .swiper-slide__saving:has(:focus) .check-icon {
  display: inline-block;
}

@media (max-width: 1440px) {
  .swiper.onsaleSwiper {
    width: 94%;
    margin-left: 0;
  }
}
@media (max-width: 1440px) and (max-width: 980px) {
  .swiper.onsaleSwiper {
    width: 90%;
    margin-right: 0;
  }
}
@media (max-width: 1440px) and (max-width: 768px) {
  .swiper.onsaleSwiper {
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .swiper.bestSellerSwiper {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .swiper.bestSellerSwiper {
    width: 100%;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .title {
    padding-right: 15px;
    margin-bottom: 10px;
    gap: 24px;
  }
}
.title a {
  text-decoration: none;
  color: inherit;
  font-weight: var(--medium);
}

h2 {
  font-size: 30px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  h2 {
    width: 60%;
  }
}

.bestSeller-prev, .bestSeller-next {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease;
}
@media (max-width: 768px) {
  .bestSeller-prev, .bestSeller-next {
    display: none;
  }
}
.bestSeller-prev svg path, .bestSeller-next svg path {
  transition: 0.3s all ease;
}
.bestSeller-prev:hover, .bestSeller-next:hover {
  background-color: var(--light-blue);
}
.bestSeller-prev:hover svg path, .bestSeller-next:hover svg path {
  stroke: var(--white);
}

.bestSeller-prev {
  top: 36%;
  left: -54px;
}
@media (max-width: 1440px) {
  .bestSeller-prev {
    left: 0;
    z-index: 423;
  }
}

.bestSeller-next {
  top: 36%;
  right: -54px;
}
@media (max-width: 1440px) {
  .bestSeller-next {
    right: 0;
    z-index: 423;
  }
}

.bestSeller__adds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
@media (max-width: 768px) {
  .bestSeller__adds {
    padding-right: 15px;
  }
}
.bestSeller__adds--item {
  width: calc(50% - 12px);
  min-height: 200px;
  background-image: url(../images/add-image.png);
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 768px) {
  .bestSeller__adds--item {
    background-position: bottom;
    background-size: 175px;
  }
}
.bestSeller__adds--item h4 {
  font-size: 30px;
  font-weight: var(--bold);
  width: 50%;
  padding: 46px 0 46px 46px;
  color: #fff;
}
@media (max-width: 768px) {
  .bestSeller__adds--item h4 {
    padding: 18px 0 18px 20px;
    font-size: 16px;
    width: 100%;
  }
}
.bestSeller__adds--item:first-child {
  background-color: #001B2B;
  border-radius: 20px;
}
.bestSeller__adds--item:last-child {
  background-color: #F26C6C;
  border-radius: 20px;
}

.benifits {
  margin: 40px 0;
}
@media (max-width: 768px) {
  .benifits {
    margin-top: 0;
  }
}
.benifits__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .benifits__title {
    margin-bottom: 10px;
  }
}
.benifits__title a {
  text-decoration: none;
  color: inherit;
}
.benifits .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  align-items: stretch;
}
@media (max-width: 980px) {
  .benifits .row {
    flex-wrap: wrap;
    gap: 24px 0;
  }
}
@media (max-width: 480px) {
  .benifits .row {
    gap: 10px;
  }
}
.benifits .row .benefits__item {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  align-items: center;
  flex: 1 0 0;
  height: auto;
  background-color: var(--white);
  border-radius: 20px;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 36px;
}
@media (max-width: 768px) {
  .benifits .row .benefits__item {
    padding: 20px 0;
  }
}
@media (max-width: 980px) {
  .benifits .row .benefits__item {
    flex: unset;
    width: calc(33.3333% - 12px);
  }
}
@media (max-width: 480px) {
  .benifits .row .benefits__item {
    width: calc(50% - 5px);
  }
}
.benifits .row .benefits__item img {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .benifits .row .benefits__item img {
    width: 40px;
    height: 40px;
  }
}
.benifits .row .benefits__item span {
  text-align: center;
}

.ceo {
  margin: 80px 0;
}
@media (max-width: 768px) {
  .ceo {
    margin: 40px 0;
  }
}
.ceo .row {
  padding: 40px;
  border-radius: 20px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .ceo .row {
    padding: 20px;
  }
}
.ceo .row h2 {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .ceo .row h2 {
    margin-bottom: 10px;
  }
}
.ceo .row p {
  line-height: 24px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .ceo .row p {
    margin-bottom: 10px;
  }
}
.ceo .row p:last-child {
  margin-bottom: 0;
}

.footer {
  margin: 80px 0 0 0;
  background-color: #fff;
  padding: 40px 0;
}
@media (max-width: 576px) {
  .footer {
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: 0;
  }
}
.footer .row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .footer .row {
    flex-wrap: wrap;
    gap: 24px 0;
  }
}
.footer__actions {
  display: flex;
  flex-direction: column;
  gap: 18px 0;
}
@media (max-width: 980px) {
  .footer__actions {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .footer__actions {
    width: 100%;
  }
}
.footer__actions--socials, .footer__actions--avialable_hours, .footer__actions--mail, .footer__actions--address {
  display: flex;
  align-items: center;
  gap: 0 10px;
  font-size: 14px;
}
.footer__actions--socials a, .footer__actions--avialable_hours a, .footer__actions--mail a, .footer__actions--address a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
.footer__actions--socials span, .footer__actions--avialable_hours span, .footer__actions--mail span, .footer__actions--address span {
  font-size: 14;
}
.footer__actions .footer-logo {
  width: 145px;
}
.footer__actions--years {
  color: var(--gray-color);
}
.footer__catalog {
  display: flex;
  flex-direction: column;
  width: 316px;
}
@media (max-width: 980px) {
  .footer__catalog {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .footer__catalog {
    width: 100%;
  }
}
.footer__catalog--links {
  display: flex;
  gap: 20px;
}
.footer__catalog ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style: none;
}
.footer__catalog ul:first-child {
  width: 45%;
}
.footer__catalog ul:last-child {
  width: 55%;
}
.footer__catalog ul li a {
  text-decoration: none;
  font-size: 14px;
  color: inherit;
}
@media (max-width: 980px) {
  .footer__company {
    width: 50%;
  }
}
@media (max-width: 980px) {
  .footer__customers {
    width: 50%;
  }
}
.footer h4 {
  margin-bottom: 20px;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer ul a {
  text-decoration: none;
  font-size: 14px;
  color: inherit;
}
.footer__bottom {
  margin-top: 40px;
  padding: 40px 0;
  border-top: 1px solid #f6f6f6;
}
@media (max-width: 576px) {
  .footer__bottom {
    padding-top: 20px;
    margin-top: 20px;
  }
}
.footer__bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__bottom .container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px 0;
  }
}
.footer__bottom--links {
  display: flex;
  gap: 0 40px;
}
@media (max-width: 576px) {
  .footer__bottom--links {
    flex-direction: column;
    gap: 15px 0;
  }
}
.footer__bottom--links a {
  text-decoration: none;
  color: #8B949A;
  font-size: 14px;
  font-weight: 500;
}

.brands {
  margin: 90px 0 0px 0;
}
@media (max-width: 768px) {
  .brands {
    margin-top: 40px;
  }
}
.brands__tabs {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px 0;
}
@media (max-width: 768px) {
  .brands__tabs {
    gap: 10px;
  }
}
.brands__tabs--buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 24px;
}
@media (max-width: 768px) {
  .brands__tabs--buttons {
    gap: 10px;
    flex-wrap: wrap;
  }
}
.brands__tabs--buttons .button, .brands__tabs--buttons .view_all {
  flex: 1;
  background-color: var(--white);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease;
  height: 100px;
}
@media (max-width: 768px) {
  .brands__tabs--buttons .button, .brands__tabs--buttons .view_all {
    height: 60px;
  }
}
.brands__tabs--buttons .button.active, .brands__tabs--buttons .view_all.active {
  background-color: var(--light-blue);
  color: white;
}
.brands__tabs--buttons .button.active svg path, .brands__tabs--buttons .view_all.active svg path {
  fill: #fff;
}
.brands__tabs--buttons .button.hover, .brands__tabs--buttons .view_all.hover {
  background-color: var(--light-blue);
  color: white;
}
.brands__tabs--buttons .button.hover svg path, .brands__tabs--buttons .view_all.hover svg path {
  fill: #fff;
}
.brands__tabs--buttons .view_all {
  text-decoration: none;
  display: flex;
  gap: 0 10px;
  background-color: var(--light-blue);
}
.brands__tabs--buttons .view_all span {
  font-size: 16px;
  font-weight: var(--bold);
  color: var(--white);
}
.brands__tabs--tab_contents {
  position: relative;
}
.brands__tabs--tab_contents .content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  visibility: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px 24px;
}
.brands__tabs--tab_contents .content.active {
  opacity: 1;
  position: relative;
  visibility: visible;
}
.brands__tabs--tab_contents .content__item {
  display: flex;
  background-color: var(--white);
  border-radius: 20px;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  min-height: 312px;
}
@media (max-width: 980px) {
  .brands__tabs--tab_contents .content__item {
    height: 250px;
  }
}
@media (max-width: 768px) {
  .brands__tabs--tab_contents .content__item {
    height: 180px;
  }
}
.brands__tabs--tab_contents .content__item--info {
  padding: 40px 0 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .brands__tabs--tab_contents .content__item--info {
    padding: 20px 0 20px 20px;
  }
}
.brands__tabs--tab_contents .content__item--info .name {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.brands__tabs--tab_contents .content__item--info .name h2 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: var(--bold);
}
@media (max-width: 768px) {
  .brands__tabs--tab_contents .content__item--info .name h2 {
    font-size: 20px;
  }
}
.brands__tabs--tab_contents .content__item--info .name p {
  font-size: 18px;
  color: #202F38;
}
@media (max-width: 768px) {
  .brands__tabs--tab_contents .content__item--info .name p {
    font-size: 14px;
  }
}
.brands__tabs--tab_contents .content__item--image {
  width: 55%;
}
@media (max-width: 980px) {
  .brands__tabs--tab_contents .content__item--image {
    width: unset;
  }
}
@media (max-width: 576px) {
  .brands__tabs--tab_contents .content__item--image {
    width: 45%;
  }
}
.brands__tabs--tab_contents .content__item--image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 980px) {
  .brands__tabs--tab_contents .content__item--image img {
    width: unset;
  }
}
@media (max-width: 576px) {
  .brands__tabs--tab_contents .content__item--image img {
    object-fit: cover;
  }
}

.main {
  margin-top: 125px;
}/*# sourceMappingURL=main.css.map */